.gallery {
    color: $accent-color;
    padding-bottom: clamp(75px, 2.983rem + 8.52vw, 150px);

    img {
        font-size: 0;
        line-height: 0;
        letter-spacing: 0;
    }
}

.gallery__title {
    margin-bottom: clamp(30px, 1.292rem + 2.91vw, 60px);
}

.gallery-top {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
}

.gallery-bottom {
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
}

.gallery-top,
.gallery-bottom {
    @include tablet-medium() {
        grid-template-columns: unset;
    }
}

.gallert__video-link {
    display: inline-block;
    position: relative;

    &::before {
        content: '';
        position: absolute;
        opacity: 0;
        inset: 0;
        background: rgba(51, 51, 51, 0.4);
        transition: opacity .2s ease-in;
    }

    &:hover::before {
        opacity: 1;
    }
}

.video__icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: clamp(50px, 2.67rem + 2.27vw, 70px);
}

.gallery-top__img,
.gallery-bottom__img {
    @include tablet-medium() {
        display: none;
    }
}

.gallery__content-wrapper {
    @include tablet-medium() {
        display: grid;
        justify-items: center;
        gap: 10px;
    }
}