$font-main: "Gilroy", sans-serif;
$font-title: "Noto Serif", sans-serif;

$body-color: #F9F9F9;

$tabs-control-color: #F9F9F9;
$tabs-control-border: #D6D6D6;

$white-color: #fff;
$accent-color: #333333;


